$primary-color: #10451D;
$primary-color-faded: #10451D50;
$secondary-color: #39784C;
$white: white;
$black: #1e1e1e;

@font-face {
  font-family: "Serif";
  src: url("../public/design/Fonts/Serifed.ttf");
}
@font-face {
  font-family: "Main";
  src: url("../public/design/Fonts/Raleway.ttf");
}
@font-face {
  font-family: "Secondary";
  src: url("../public/design/Fonts/Lato.ttf");
}
@font-face {
  font-family: "Italic";
  src: url("../public/design/Fonts/Lato Italic.ttf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../public/design/Fonts/BebasNeue-Regular.ttf");
}


@keyframes loadIn {
    0% { 
      opacity: 0; 
      transform: translateY(-0.5em);
    }
    100% { 
      opacity: 1; 
      transform: translateY(0);
    }
  }
  
@keyframes loadIn2 {
    0% { 
      background-position: 00 00;
    }
    100% { 
      background-position: 50 50;
    }
  
}

@keyframes fadeIn {
    0% { 
      opacity: .5;
    }
    100% { 
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% { 
      opacity: 1;
    }
    100% {
      opacity: .5;
    }
  }

@keyframes fadeIn2 {
  0% { color: $primary-color-faded; }
  100% { color: $primary-color; }
}
@keyframes fadeOut2 {
  0% { color: $primary-color; }
  100% { color: $primary-color-faded; }
}

.container {
  //max-width: max(100vw);
  // background-color: $secondary-color;
  width: 100%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 3rem;
  animation: loadIn 2s ease-in-out;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  button{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 3.5px;
  animation: loadIn 3s;
  animation-iteration-count: 1;
  padding: 15px;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
  color: $white;
  }
  a {
    color:inherit;
    text-decoration: none;
  }
}

@keyframes changeColor {
0% { color: $white; background-color: transparent; }
100% { color: #2c3433; background-color: $white; }
}

@keyframes changeColor2 {
0% { color: #303030; background-color: $white; }
100% { color: $white; background-color: transparent; }
}


.button button:hover {
  cursor: pointer;
  animation: changeColor 0.5s;
  background-color: $white;
  color: #303030;
}

.button button:not(:hover) {
  animation: changeColor2 0.5s;
}

@keyframes changeColor {
    0% { color: $white; background-color: transparent; }
    100% { color: #303030; background-color: $white; }
  }
  
  @keyframes changeColor2 {
    0% { color: #303030; background-color: $white; }
    100% { color: $white; background-color: transparent; }
  }

.buttons button:hover {
    animation: changeColor 0.5s;
    background-color: $white;
    color: #303030;
}
  
.buttons button:not(:hover) {
    animation: changeColor2 0.5s;
}

.submenu {
  flex-shrink: 0;
  width: 20vw !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: $primary-color;
  font-style: normal;
  a{
  font-family: "Secondary", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.submenu :hover {
  animation: fadeOut2 0.5s;
  color: $primary-color-faded;
}

.submenu a:hover {
  cursor: pointer;
  animation: fadeIn2 0.5s;
  font-family: "Secondary", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: $primary-color;
}

.submenu a:not(:hover) {
  animation: fadeOut2 0.5s;
  color: $primary-color-faded;
}

.submenu :not(:hover) {
  animation: fadeIn2 0.5s;
  color: $primary-color;
}

.description {
  background-color: white;
  animation: loadIn 1.5s;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
}

.text { // description text
  width: 100%;
  margin-left: 3rem;
  h1 {
    font-family:"Main", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
    animation: loadIn 3s;
    animation-iteration-count: 1;
    color: $secondary-color;
  }
  p {
    font-family: "Secondary", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    animation: loadIn 3s;
    animation-iteration-count: 1;
    color: $secondary-color;
  }
}

.staff {
  max-width: 100vw;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.card {
  animation: menuLoading 1s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $white;
  margin: 2vw;
  width: 70vw;
  
  background-color: $white;
  border-radius: 1em;
  box-shadow: 0 0 0.5em $black;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
  img {
    margin-top: 0;
    margin-bottom: 0;
    height: 18rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5em;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    justify-content: space-between;
    img {
      height: 22rem;
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 1000px) {
    height: 20rem;
    img {
      margin-left: 1rem;
    }
  }
    
}

.cardMobile {
  max-width: 100vw;
  animation: menuLoading 1s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  color: $white;
  margin: 2rem;
  width: 20rem;
  min-height: 20rem;
  background-color: $white;
  border-radius: 1em;
  box-shadow: 0 0 0.5em $black;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
  img {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: .5em;
  }
}

.cardText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h1 {
    font-family: "Main", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    color: $secondary-color;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  h2 {
    font-family: "Italic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    color: $secondary-color;
    text-align: left;
    font-weight: 200;
    width: 90%;
    margin: 0;
  }
  p {
    font-family: "Secondary", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: $secondary-color;
    text-align: left;
    width: 100%;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
}