$primary-color: #1A3A16;

html,body {
  // ::selection {
  //   background-color: #4169e1;
  //   color: white;
  // }

  ::-webkit-scrollbar {
    width: 0rem;
    height: 1rem;
    background-color: #1A3A16;
  }

  scrollbar-width: 0;

  ::-webkit-scrollbar-thumb {
    background: #1A3A16;
  }

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "Lato";
  src: url("../public/design/Fonts/Lato-Regular (paragraph fonts, make sure the spacing is correct).ttf");
}
@font-face {
  font-family: "Din Condensed";
  src: url("../public/design/Fonts/Din Condnesed Bold (Title fonts (keep in mind the spacing between characters is 5%).ttf");
}

@keyframes loadIn {
  0% { 
    opacity: 0; 
    //transform: translateY(-0.5em);
  }
  100% { 
    opacity: 1; 
    //transform: translateY(0);
  }
}

h1 {
  color: white;
  animation: loadIn 2s;
  font-family: "Din Condensed";
  font-size: 5rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.05em;
}

p {
  align-items: center;
    width: 90%;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 35px;
    font-family: "Lato";
    padding-bottom: 18px;
    color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

Link :hover{
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}
