$primary-color: #10451D;
$secondary-color: #39784C;

html,body {
  // ::selection {
  //   background-color: #4169e1;
  //   color: white;
  // }

  ::selection {
    background-color: $primary-color;
    color: white;
  }

  ::-webkit-scrollbar {
    width: 0rem;
    height: 1rem;
    background-color: #1A3A16;
  }

  background-color: #ffffff;

  scrollbar-width: 0;

  ::-webkit-scrollbar-thumb {
    background: #1A3A16;
  }
  max-width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Roboto, system-ui
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../public/design/Fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "Roboto Serif";
  src: url("../public/design/Fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../public/design/Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../public/design/Fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../public/design/Fonts/BebasNeue-Regular.ttf");
}

@keyframes loadIn {
  0% { 
    opacity: 0; 
    //transform: translateY(-0.5em);
  }
  100% { 
    opacity: 1; 
    //transform: translateY(0);
  }
}

h1 {
  color: white;
  // animation: loadIn 2s;
  font-family: "Roboto Bold";
  font-size: 5rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.05em;
}

p {
  font-family: Roboto;
  align-items: center;
    width: 90%;
    font-size: 1.1rem;
    padding-bottom: 18px;
    color: white;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Bebas Neue";
}

Link :hover{
  cursor: pointer;
}

button :hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}
