$primary-color: #1A3A16;
$white: white;
$black: #1e1e1e;
@font-face {
  font-family: "Lato";
  src: url("../public/design/Fonts/Lato-Regular (paragraph fonts, make sure the spacing is correct).ttf");
}
@font-face {
  font-family: "Din Condensed";
  src: url("../public/design/Fonts/Din Condnesed Bold (Title fonts (keep in mind the spacing between characters is 5%).ttf");
}
@font-face {
  font-family: "Minion Pro";
  src: url("../public/design/Fonts/MinionPro-Regular (submenu and footer font).otf");
}

.container {
  max-width: max(100%, 100vw);
  // background-color: $secondary-color;
}
.main {
  position: relative;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  left: 1.5rem;
  top: 1.25rem;
  position: absolute;
  z-index: 30;
  height: 6rem;
  img {
    height: 100%;
    width: 100%;
  }
}

.logo img:hover{
  cursor: pointer;
}

.menu {
  // padding: 3%;
  margin: 3%;
  width: 40%;

  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;

  a {
    font-family: "DIN Condensed", "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $black;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: .5; }
}

@keyframes fadeIn {
  0% { opacity: .5; }
  100% { opacity: 1; }
}

.menu:hover {
  animation: fadeOut 0.5s forwards;
}

.menu a:hover {
  opacity: 1;
}

.cover {
  
  position: relative;
  width: 100%;
  min-height: 97.5vh;

  color: $white;
  flex-direction: column;
  display: flex;

  background-image: url("../public/design/Images/MUNHomepagebackground.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1 {
    margin-top: 20%;
    margin-bottom: 1%;
    font-family: 'DIN Condensed';
    font-style: normal;
    font-weight: 750;
    font-size: 70px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  p {
    margin: 0;
    font-family: 'Minion Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
  }
  hr {
    position: relative;
    width: 80%;
    height: 0px;
    border: 1px solid $white;
  }
  button {
    left: 50%;
    translate: -50%;
    padding: 15px;
    padding-bottom: 7.5px;
    margin-top: 7%;
    align-items: center;
    position: relative;
    min-width: 100px;
    min-height: 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-family: 'DIN Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $white;
  } 
}

@keyframes changeColor {
  0% { color: $white; background-color: transparent; }
  100% { color: 0e2b26; background-color: $white; }
}

.cover button:hover {
  animation: changeColor 0.5s;
  background-color: $white;
  color: #0e2b26;
}

.background {
  background-color: $primary-color;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.text {
  background-image: url("../public/design/Images/Text backgrounds.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  left: 15%;
  width: 70%;
  color: $white;
  align-items: center;
  display: flex;
  flex-direction: column;
  p {
    align-items: center;
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    font-family: "Lato";
    padding-bottom: 18px;
  }
  h1 {
    padding-top: 50px;
    text-align: left;
    width: 90%;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    font-family: "Din Condensed", "Lato";
  }
}


.footer {
  padding: 0.75%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;

  font-family: 'Minion Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $black;

  p {
    margin: 1%;
  }

  img {
    height: 100px;
    width: 100px;
    margin: 1%;
  }
}

.title a:hover,
.title a:focus,
.title a:active {
  cursor: pointer;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
}
